/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');



/* ROOT DEFINITIONS */
:root {
    --primary-color: #222831;
    --secondary-color: #010202;
    --third-color: #00ADB5;
    --fourth-color: #EEEEEE;

    --gradient-1-color: rgba(238, 174, 202, 1);
    --gradient-2-color: rgba(148, 187, 233, 1);

    --rounded-md: 10px;

    --primary-font: "Roboto";
    --secondary-font: "Montserrat";
    --third-font: "Satisfy"
}


/* RESET CSS */
p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

/* SHARED ELEMENTS */
body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    background: radial-gradient(circle, var(--gradient-1-color) 0%, var(--gradient-2-color) 100%);
    height: 100vh;
    overflow: hidden;
    padding: 1rem 3rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0 0 5rem 0;
    width: 20rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--rounded-md);   
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--rounded-md);
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: var(--primary-color);
    color: white;
}

.active{
    background-color: var(--primary-color);
    color: white;
}

/* TOOLTIPS */

.tooltip-wrapper{
    position: relative;
    display: inline-block;
}

.tooltip{
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: var(--rounded-md);
    width: 10rem;
    text-align: center;
    transition: all 0.3s ease;
    animation: border 2s linear infinite alternate;
}

.tooltip-body{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(+0.1rem);
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: var(--rounded-md);
    line-height: 1.5;
    pointer-events: auto;
    z-index: 10;
    transition: all 0.3s ease;
}

.tooltip-wrapper:hover .tooltip-body{
    visibility: visible;
    opacity: 1;
    width: 25rem;
    z-index: 2;
}

.tooltip-wrapper:hover .tooltip{
    background-color: var(--primary-color);
    color: white;
    transform: translateY(1rem);
}

@keyframes border {
    0%{
        border-color: var(--gradient-1-color)
    }
    100%{
        border-color: var(--primary-color);
    }
}





