/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');



/* ROOT DEFINITIONS */
:root {
    --primary-color: #222831;
    --secondary-color: #010202;
    --third-color: #00ADB5;
    --fourth-color: #EEEEEE;

    --gradient-1-color: #eeaeca;
    --gradient-2-color: #94bbe9;

    --rounded-md: 10px;

    --primary-font: "Roboto";
    --secondary-font: "Montserrat";
    --third-font: "Satisfy"
}



/* SHARED ELEMENTS */
body {
    font-family: var(--primary-font);
    background: radial-gradient(circle, var(--gradient-1-color) 0%, var(--gradient-2-color) 100%);
    padding: 1rem 3rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

nav {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 20rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--rounded-md);
    transition: all 0.3s ease;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--rounded-md);
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

.active {
    background-color: var(--primary-color);
    color: white;
}

.nav-mobile {
    visibility: hidden;
    width: 0;
    height: 0;
}

.fav-icon-wrapper{
    width: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fav-icon-wrapper svg{
    width: 100%;
    height: auto;
}

.fav-icon-wrapper svg path{
    stroke: var(--primary-color);
    transition: all 0.3s ease;
}

.fav-icon-wrapper:hover {
    transform: scale(1.2);
}

.fav-icon-wrapper.like svg path{
    stroke: var(--gradient-2-color);
    fill: var(--gradient-1-color)
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

/* TOOLTIPS */

.tooltip-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: var(--rounded-md);
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--primary-color);
    animation: border 2s linear infinite alternate, box-shadow 2s linear infinite alternate;

}

.tooltip-body {
    font-size: smaller;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(+0.1rem);
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: var(--rounded-md);
    line-height: 1.5;
    pointer-events: auto;
    z-index: 10;
    transition: all 0.3s ease;
    width: 25rem;
    max-width: 90vw;
    word-wrap: break-word;
    transition: all 0.5s ease;
}

.tooltip-wrapper:hover .tooltip-body {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.tooltip-wrapper:hover .tooltip {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(1rem);
}

.nav-mobile .tooltip-body{
    top: 150%;
    bottom: 0;
    left: 3rem;
    animation: none;
    width: 6rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.nav-mobile .tooltip-body a{
    color: white;
}

.nav-mobile .tooltip-body a:hover{
    background-color: white;
    color: var(--primary-color);
}

.nav-mobile .active {
    background-color: white;
    color: var(--primary-color) !important;
}



@keyframes border {
    0% {
        border-color: var(--gradient-1-color);
    }

    100% {
        border-color: var(--primary-color);
    }
}

@keyframes box-shadow {
    0% {
        box-shadow: 0 0 10px var(--gradient-1-color);
    }

    100% {
        box-shadow: 0 0 10px var(--primary-color);
    }
}

.main-page-detail .tooltip-wrapper {
    width: 12rem;
}

.episodes-container .tooltip-wrapper {
    width: 20rem;
    height: 15rem;
}




/* MEDIA QUERY */
@media screen and (max-width:1000px) {
    .main-page-container .tooltip {
        width: 8rem;
        font-size: smaller;
    }

    body {
        padding: 1rem 1rem;
        align-items: baseline;
    }

    .tooltip-body {
        width: 20rem;
        font-size: 12px;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        visibility: visible;
        width: 2rem;
        height: 1rem;
        border: none;
    }

    .nav-mobile img{
        width: 100%;
    }

    .nav-container{
        justify-content: flex-start;
        gap: 3rem;
    }
}